Write a Pandas program to implement following operation 
* to convert a NumPy array to a Pandas series

In [1]:
import pandas as pd
import numpy as np

In [3]:
arr=np.array([1,2,3,4,5])

In [4]:
panda=pd.Series(arr)
print(panda)

0    1
1    2
2    3
3    4
4    5
dtype: int64

* to convert the first column of a DataFrame as a Series

In [2]:
import pandas as pd

In [3]:
data=pd.DataFrame({'Name':['HIMANI','RIYA','JIYA','VIDDHI'],
                 'AGE':[18,17,17,18]})
data

     Name  AGE
0  HIMANI   18
1    RIYA   17
2    JIYA   17
3  VIDDHI   18

* to create the mean and standard deviation of the data of a given Series

In [11]:
import pandas as pd

In [16]:
data=pd.Series([1,2,3,4,5,6,7,8,9])
print(data)
print("MEAN DEVISTION=",np.mean(data))
print("STANDERS DEVISTION=",np.std(data))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
MEAN DEVISTION= 5.0
STANDERS DEVISTION= 2.581988897471611

* to sort a given Series

In [18]:
import pandas as pd

In [32]:
data=pd.Series([1,9,4,5,3,7])
s1 = data.sort_values()

In [34]:
print("shortiong\n",s1)

shortiong
 0    1
4    3
2    4
3    5
5    7
1    9
dtype: int64